.title_section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin: 40px 20px;
}

.title_section h2 {
  margin-bottom: 10px;
}

.title_section p {
  font-size: clamp(12px, 3vw, 20px);
  font-family: var(--main-font-family);
  color: var(--second-text-color);
}

.features_section li {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.features_section img {
  width: 30px;
  margin-bottom: 15px;
}

.features_section h3 {
  font-size: clamp(12px, 3vw, 20px);
  color: var(--main-title-color);
  margin-bottom: 10px;
  font-family: var(--main-font-family);
}

.features_section p {
  font-size: clamp(10px, 3vw, 15px);
  font-family: var(--main-font-family);
  color: var(--second-text-color);
}

.video_section {
  position: relative;
  width: 100%;
  max-width: 100%;
}

.background-image {
  display: block;
  width: 100%;
  height: auto;
}

.foreground-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 10%;
  max-width: 120px;
  height: auto;
  cursor: pointer;
}

.content-block {
  display: flex;
  align-items: center;
  padding: 20px;
  margin: 40px 20px;
}

.right-section-image img {
  width: 400px;
  height: auto;
}

.left-section-image img {
  width: 400px;
  height: auto;
}

.right-section-text h4 {
  margin-bottom: 10px;
  font-family: var(--main-font-family);
}

.right-section-text p {
  font-size: clamp(10px, 3vw, 18px);
  font-family: var(--main-font-family);
  color: var(--second-text-color);
  margin-bottom: 20px;
}

.left-section-text p {
  font-size: clamp(10px, 3vw, 18px);
  font-family: var(--main-font-family);
  color: var(--second-text-color);
  margin-bottom: 20px;
}

.right-section-text input {
  font-family: var(--main-font-family);
  color: var(--second-text-color);
  background-color: var(--input-bg-color);
  border: none;
  border-radius: 25px;
  padding: 10px 20px;
  font-size: clamp(10px, 2vw, 15px);
  cursor: pointer;
}

@media (min-width: 901px) {
  .mobile-video {
    display: none;
  }
  .features_section ul {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 15px;
    margin: 20px;
  }

  .content-block {
    justify-content: space-around;
  }
  .mobile-version {
    display: none;
  }
}

@media (max-width: 900px) {
  .features_section ul {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
    margin: 20px;
  }
  .desktop-video {
    display: none;
  }

  .content-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    text-align: center;
  }

  .left-section-text,
  .right-section-text {
    text-align: center;
  }

  .desktop-version {
    display: none;
  }

  .mobile-version {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
  }
}
