.title_section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin: 40px 20px;
}

.title_section h2 {
  margin-bottom: 10px;
}

.title_section p {
  font-size: clamp(12px, 3vw, 20px);
  font-family: var(--main-font-family);
  color: var(--second-text-color);
}

.features_section li {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.features_section img {
  width: 30px;
  margin-bottom: 15px;
}

.features_section h3 {
  font-size: clamp(12px, 3vw, 20px);
  color: var(--main-title-color);
  margin-bottom: 10px;
  font-family: var(--main-font-family);
}

.features_section p {
  font-size: clamp(10px, 3vw, 15px);
  font-family: var(--main-font-family);
  color: var(--second-text-color);
}

.video_section {
  position: relative;
  width: 100%;
  max-width: 100%;
}

.background-image {
  display: block;
  width: 100%;
  height: auto;
}

.foreground-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 10%;
  max-width: 120px;
  height: auto;
  cursor: pointer;
}

.content-block {
  display: flex;
  align-items: center;
  padding: 20px;
  margin: 40px 20px;
}

.image-section img {
  width: 400px;
  height: auto;
}

.text-section h2 {
  margin-bottom: 10px;
}

.text-section p {
  font-size: clamp(12px, 3vw, 20px);
  font-family: var(--main-font-family);
  color: var(--second-text-color);
  margin-bottom: 20px;
}

@media (min-width: 801px) {
  .mobile-video {
    display: none;
  }
  .features_section ul {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 15px;
    margin: 20px;
  }

  .content-block {
    justify-content: space-between;
    padding: 20px;
    margin: 40px 20px;
  }
}

@media (max-width: 800px) {
  .features_section ul {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
    margin: 20px;
  }
  .desktop-video {
    display: none;
  }

  .content-block {
    justify-content: center;
    gap: 30px;
    flex-direction: column;
    text-align: center;
  }

  .text-section,
  .image-section {
    text-align: center;
  }
}
