<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Figma Land</title>
    <link
      rel="shortcut icon"
      type="img/x-icon"
      href="assets/img/global/favicon.png"
    />
    <link rel="stylesheet" href="assets/css/index.css" />
    <script
      src="https://unpkg.com/htmx.org@1.9.10"
      integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <section
      data-hx-trigger="load"
      data-hx-swap="outerHTML"
      data-hx-get="index.header.html"
    ></section>
    <section
      data-hx-trigger="load"
      data-hx-swap="outerHTML"
      data-hx-get="index.features.html"
    ></section>
    <section
      data-hx-trigger="load"
      data-hx-swap="outerHTML"
      data-hx-get="index.partners.html"
    ></section>
    <section
      data-hx-trigger="load"
      data-hx-swap="outerHTML"
      data-hx-get="index.pricing.html"
    ></section>
    <section
      data-hx-trigger="load"
      data-hx-swap="outerHTML"
      data-hx-get="index.contacts.html"
    ></section>
    <section
      data-hx-trigger="load"
      data-hx-swap="outerHTML"
      data-hx-get="index.footer.html"
    ></section>
    <script src="dist/index.js"></script>
  </body>
</html>
