.features_section ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 15px;
  margin: 40px;
}

.features_section li {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  max-width: 400px;
}

.features_section img {
  width: 30px;
  margin-bottom: 15px;
}

.features_section h3 {
  font-size: clamp(12px, 3vw, 20px);
  color: var(--main-title-color);
  margin-bottom: 10px;
  font-family: var(--main-font-family);
}

.features_section p {
  font-size: clamp(10px, 3vw, 15px);
  font-family: var(--main-font-family);
  color: var(--second-text-color);
}

.video_section {
  position: relative;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

.background-image {
  display: block;
  width: 100%;
  height: auto;
}

.foreground-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 10%;
  max-width: 120px;
  height: auto;
  cursor: pointer;
}

.content-block {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding: 10px;
  gap: 20px;
}

h2 {
  font-size: clamp(20px, 3vw, 27px);
  font-family: var(--main-font-family);
  color: var(--main-title-color);
  margin-bottom: 30px;
}

.left-section-image img,
.right-section-image img {
  max-width: 500px;
  width: 100%;
  height: auto;
}

.right-section-text h4 {
  margin-top: 15px;
  margin-bottom: 15px;
  font-family: var(--main-font-family);
}

.right-section-text p {
  font-size: clamp(10px, 3vw, 18px);
  font-family: var(--main-font-family);
  color: var(--second-text-color);
  margin-bottom: 20px;
}

.left-section-text p {
  font-size: clamp(10px, 3vw, 18px);
  font-family: var(--main-font-family);
  color: var(--second-text-color);
  margin-bottom: 20px;
}

.right-section-text input {
  font-family: var(--main-font-family);
  color: var(--second-text-color);
  background-color: var(--input-bg-color);
  border: none;
  border-radius: 25px;
  padding: 10px 20px;
  font-size: clamp(10px, 2vw, 15px);
  margin-bottom: 8px;
  cursor: pointer;
}

#emailCheck.invalid {
  padding-top: 10px;
  padding-bottom: 10px;
  color: var(--input-check-invalid-color);
  font-family: var(--main-font-family);
  font-size: clamp(13px, 2vw, 15px);
  transition: color 0.3s ease;
}

#emailInput.valid {
  background-color: var(--input-valid-color);
  transition: background-color 0.3s ease;
}

#emailInput.invalid {
  background-color: var(--input-invalid-color);
  transition: background-color 0.3s ease;
}

@media (min-width: 901px) {
  .mobile-video {
    display: none;
  }
  .features_section ul {
    flex-direction: row;
  }

  .mobile-version {
    display: none;
  }

  .content-block {
    justify-content: space-evenly;
  }
  .left-section-text {
    text-align: left;
  }

  .right-section-text {
    text-align: right;
  }
}

@media (max-width: 900px) {
  .features_section ul {
    flex-direction: column;
  }
  .desktop-video {
    display: none;
  }

  .content-block {
    flex-direction: column;
    justify-content: center;
  }

  .left-section-image,
  .right-section-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .left-section-text,
  .right-section-text {
    text-align: center;
  }

  .desktop-version {
    display: none;
  }
}
