@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

:root {
  --main-font-family: "Open Sans", sans-serif;
  --nav-menu-bg-color: #222b32;
  --burger-menu-items-color: #e0e0e0;
  --main-white-color: #ffffff;
  --main-blue-color: #007bff;
  --hover-blue-color: #0056b3;
  --main-title-color: #252b42;
  --second-text-color: #374754;
  --input-bg-color: #f4f4f4;
  --dark-bg: #252b42;
  --contact-us-bg-form: #f9f9f9;
  --contact-us-border-form: #ddd;
  --contact-us-input-border: #ccc;
  --input-check-invalid-color: #f15b07;
  --input-check-valid-color: #287446;
  --input-invalid-color: #ffe6e6;
  --input-valid-color: #e6ffe6;
}

.container {
  max-width: 1200px;
  margin: auto;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  margin: 0;
  overflow: auto;
  scroll-behavior: smooth;
}

img {
  display: block;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.main-button,
.pricing-button {
  background-color: var(--main-blue-color);
  color: var(--main-white-color);
  border: none;
  border-radius: 25px;
  padding: 10px clamp(20px, 2vw, 30px);
  font-size: clamp(14px, 2vw, 18px);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.main-button:hover {
  background-color: var(--hover-blue-color);
}

.title_section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin: 40px;
}

.title_section p {
  font-size: clamp(12px, 3vw, 20px);
  font-family: var(--main-font-family);
  color: var(--second-text-color);
}

.title_section h2 {
  font-size: clamp(20px, 3vw, 27px);
  font-family: var(--main-font-family);
  color: var(--main-title-color);
  margin-bottom: 30px;
}
